<div class="marquee__item {{ class_name }}">
    <div class="marquee__item__icon"><svg class="marquee__icon ">
     <use href="{{ 'sprite.svg' | asset_url }}#{{ icon_id }}"></use>
      </svg>
      </div>
    <p class="marquee__item__text">{{ text }}</p>
 </div>